<div class="container">


<%= form_tag seas_path do %>
  <label>Name:</label><br>
  <input type="text" id="name" name="sea[name]"><br>

  <label>Bio:</label><br>
  <input type="text" id="bio" name="sea[bio]"><br>

  <label>Image URL:</label><br>
  <input type="text" id="image_url" name="sea[image_url]"><br>

  <label>Temperature:</label><br>
  <input type="text" id="temperature" name="sea[temperature]"><br>

  <label>Favorite Color:</label><br>
  <input type="text" id="favorite_color" name="sea[favorite_color]"><br>

  <label>Scariest Creature:</label><br>
  <input type="text" id="scariest_creature" name="sea[scariest_creature]"><br>

  <label>Mood:</label><br>
  <input type="text" id="mood" name="sea[mood]"><br>

  <label>Has Mermaids</label><br>
  <input type="checkbox" id="has_mermaids" name="has_mermaids">
 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit Post">
<% end %>


  <div class="text-center">
    <button class="btn btn-info" style="margin: 1em"><a class="btn-info" href="/sea">All Seas</a></button>
  </div>
</div>
